<main class="container-fluid h-100">
	<div class="row justify-content-center h-100">

		<div class="col-md-4 align-self-center">
			<div id="premios" class="mb-3">
				
			</div>

			<div id="ticket" class="py-5 px-3">
				<p class="h3">Participa con</p>
				<h1>Tu Código</h1>
				<form (ngSubmit)="play()" #playForm="ngForm">
					<div class="input-group mt-3 row">
						<input required #In1 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(0)" type="text" id="numero1" class="form-control col">
						<input required #In2 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(1)" type="text" id="numero2" class="form-control col mx-2">
						<input required #In3 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(2)" type="text" id="numero3" class="form-control col mx-2">
						<input required #In4 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(3)" type="text" id="numero4" class="form-control col mx-2">
						<input required #In5 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(4)" type="text" id="numero5" class="form-control col">
					</div>

					<div class="input-group mt-5">
						<button [disabled]="!playForm.form.valid" type="submit">JUGAR</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</main>