<main class="container-fluid h-100">
	<div class="row justify-content-center h-100">

		<div class="col-md-3 align-self-center">
			<div id="premios" class="mb-3">
				
			</div>

			<div id="ticket" class="w-100 d-block py-5 px-4">
				<p class="h3">Participa con</p>
				<h1>Tu Código</h1>
				<form (ngSubmit)="play()" #playForm="ngForm">
					<div class="input-group mt-3 row mx-0 px-0">
						<input [(ngModel)]="numbrer1" name="numbrer1" required #In1 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(0)" type="text" id="numero1" class="form-control col mr-2">
						<input [(ngModel)]="numbrer2" name="numbrer2" required #In2 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(1)" type="text" id="numero2" class="form-control col mr-2">
						<input [(ngModel)]="numbrer3" name="numbrer3" required #In3 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(2)" type="text" id="numero3" class="form-control col mr-2">
						<input [(ngModel)]="numbrer4" name="numbrer4" required #In4 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(3)" type="text" id="numero4" class="form-control col mr-2">
						<input [(ngModel)]="numbrer5" name="numbrer5" required #In5 pattern="[0-9]*" maxlength="1" (input)="onSearchChange(4)" type="text" id="numero5" class="form-control col">
					</div>

					<div id="btnplay" class="input-group mt-5">
						<button [disabled]="!playForm.form.valid" type="submit"  class="btn btn-block btn-success mt-5">JUGAR</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</main>