/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bulma/bulma';
@import 'assets/bootstrap';


body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	background-image: url(assets/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	app-root{
		display: block;
		width: 100%;
		height: 100%;
		#premios{
			height: 80px;
			width: 320px;
			margin: 10px auto; 
			background-image: url(assets/cajonpremios.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			.roulette{
				width: 100%;
				height: 75px;
			}
			.prize{
				text-align: center;
				line-height: 75px;
			}
		}
		#ticket{
			background-image: url(assets/ticket.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			.form-control{
		    height: 3rem;
			}
	    input[type='number']::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			input[type='number']::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;	
			}
			#btnplay{
				border-top: 1px dashed #999;
			}
		}
	}
}
